body{
    font-family: Arial;
}
.grid-display{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    
}
.add-margin
{
    margin-bottom: 15px;
}
.button{
    font-size: 15px;
    padding: 6px;
    cursor: pointer;
    
}
.buddon1{
    background-color: green;
    color:white;
}
.buddon2{
    background-color: rgb(177, 13, 13);
    color:white;
}
